DEBUG=True
SECRET_KEY=django-insecure-dummy-key-for-dev
ALLOWED_HOSTS=127.0.0.1,localhost

# Google OAuth2
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=your-google-client-id
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=your-google-client-secret

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
